<div class="row">
<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

  <form [formGroup]="signupForm" (ngSubmit)="onSave()">
    <div class="form-group">
      <label for="email">Mail</label>
      <input type="email" name="email" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" name="password" id="password" class="form-control" formControlName="password">
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </form>


</div>
</div>
